/* Universal  */

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
font-size: 62.5%
}

body{
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
}

header{
    height: 10.1 rem;
    box-shadow:  0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);

    position: relative;
    z-index: 10;
}

/* Navigation Section */
a, a:active, a:visited{
    color: black;
}
.logo{
height:5.1rem;
width:5.1rem;
}
.logo img{
 height:100%;   
}
.header-container{
    max-width:1440px ;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.left-nav{
    display: flex;
    align-items:center;
    height: 100%;
}

.left-nav nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}
nav ul li{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1rem;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 2.4rem ;
    transition: all 0.2s;
}
nav ul li:hover,
.find-store:hover{
color: #008248;
}

.right-nav{
    display: flex;
    align-items: center;
    
}

.right-nav .find-store{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.6rem;
    transition: all 0.2s;
}

.find-store{
    font-size: 2.4rem;
    padding-right: 1rem ;
    transition: all 0.2s;
}

.btn-nav{
    padding:0.7rem;
    cursor: pointer;
    border-radius: 10rem;
    border: 1px solid;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.2rem;
}

.sign-in{
    border-radius: black;
    margin: 1.6rem;
    
}
.sign-in:hover{
    background-color: #d8d5d5;
    border-color: rgba(0, 0, 0, 0.7);
}
.join-now{
    border-radius: black;
    margin-right: 1rem;
    color: white;
    background-color: black;
}
.join-now:hover{
    background-color: rgba(0,0,0,0.7);
    border-color: rgba(0,0,0,0.7);
}

